:root {
	--primary: #224870;
	--secondary: #fda43e;
	--grey: #6d6d6d;
	--lightgrey: #D9D9D9;
	--fwblack: 900;
	--fwextrabold: 800;
	--fwbold: 700;
	--fwsemibold: 600;
	--fwmedium: 500;
	--fwregular: 400;
	--fwlight: 300;
	--sidebarsize: 250px;
}

@font-face {
	font-family: "Raleway", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
}

@font-face {
	font-family: "Roboto", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
}

body {
	font-family: "Roboto", sans-serif;
}

body.dashboard {
	background-color: var(--lightgrey);
}

h1 {
	font-size: 64px;
	font-weight: var(--fwblack);
	font-family: "Raleway", sans-serif;
}
h2 {
	font-size: 40px;
	font-weight: var(--fwblack);
	font-family: "Raleway", sans-serif;
}
h3 {
	font-size: 32px;
	font-weight: var(--fwbold);
	font-family: "Raleway", sans-serif;
}
h4 {
	font-size: 24px;
	font-weight: var(--fwbold);
	font-family: "Raleway", sans-serif;
}

input, textarea  {
	font-family: "Roboto", sans-serif, FontAwesome;
	border-radius: 20px;
	border: 0;
	outline: 0;
	min-height: 40px;
	padding-block: 12px;
	padding-inline: 20px;
}

.price {
	font-family: "Roboto", sans-serif;
	font-weight: var(--fwbold);
	font-size: 20px;
	color: var(--primary);
}

.design-a-tour {
	background-color: var(--secondary);
}

p {
	font-size: 16px;
	color: var(--grey);
}

.minimize {
	--sidebarsize: 100px !important;
	transition: all 0.3s ease;
}

.minimize .min {
	display: none !important;
}

:where(.dashboard-admin, .login) .max {
	display: none !important;
}

.login .btn-icon {
	display: contents !important;
}

.btn-icon {
	display: none !important;
}

.minimize .max {
	display: block !important;
}

.minimize .textmin {
	font-size: 0 !important;
	opacity: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.minimize .small {
	width: 60px !important;
	height: 60px !important;
}

/* Navbar Styles */
#offcanvas-navbar,
.navbar2 {
	display: none;
}

.navbar-expand-lg {
	transition: all 0.5s;
	background-color: var(--primary);
	opacity: 1;
	visibility: visible;
	z-index: 99999;
}

.navbar .navbar-brand {
	color: white;
	font-size: 26px;
	font-weight: var(--fwbold);
	padding: 0;
}

.nav-link {
	color: white;
	padding-left: 25px;
	padding-right: 25px;
	transition: all 0.3s ease-in-out;
	font-weight: var(--fwmedium);
}

.nav-link:hover {
	color: var(--secondary);
}

/* Dashboard Navbar Styles */
.dashboard-navbar {
	width: 100%;
	height: 90px;
	z-index: 1;
	position: fixed;
	padding-left: var(--sidebarsize);
	padding-right: 24px;
	background-color: white;
	transition: all 0.3s ease;
}

.dashboard-navbar h2 {
	color: var(--primary);
}

.dashboard-navbar span {
	color: var(--secondary);
}

.btn-icon a {
	text-decoration: none;
}

.profile-user {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

:where(.profile-user, .tickets) i {
	font-size: 35px;
	color: white;
}



:where(.profile-user, .tickets):hover i {
	color: var(--secondary) !important;
}

.profile {
	border-radius: 50%;
	background-color: var(--secondary);
	width: 55px;
	height: 55px;
}

.profile i {
	color: var(--primary);
	font-size: 32px;
}

/* Dashboard Sidebar Styles */
.dashboard-sidebar {
	position: fixed;
	width: var(--sidebarsize);
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--primary);
	z-index: 99;
	transition: all 0.3s ease;
}

.dashboard-sidebar.minimize {
	left: -220px;
}

.sidebar-logo img {
	width: 122px;
	height: 122px;
	transition: all 0.3s ease;
}

.sidebar-logo h4 {
	color: white;
	font-weight: var(--fwextrabold);
	opacity: 1;
	transition: all 0.3s ease;
}

.sidebar-nav {
	list-style-type: none;
}

.sidebar-item a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	display: flex;
	align-items: center;
	transition: all 0.3s ease;
}

.sidebar-item i {
	font-size: 30px;
}

.icon {
	width: 32px;
}

.btn-sidebar {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: var(--secondary);
	outline: 0;
	border: 0;
	color: var(--primary);
	font-size: 25px;
}

/* Content Section Styles */
.content-section {
	margin-left: var(--sidebarsize);
	padding-top: 90px;
	transition: all 0.3s ease;
}



/* Button Styles */
.btn-primary {
	background-color: var(--primary);
	color: white;
	font-weight: var(--fwbold);
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: 2px solid var(--primary);
	outline: 0;
	transition: all 0.3s ease-in-out;
}

.btn-primary:hover,
.btn-primary:hover:active {
	background-color: transparent;
	color: var(--primary);
	border: 2px solid var(--primary);
}

.btn-outline-primary {
	background-color: transparent;
	color: var(--primary);
	font-weight: var(--fwbold);
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: 2px solid var(--primary);
	outline: 0;
	transition: all 0.3s ease-in-out;
}

.btn-outline-primary:hover,
.btn-outline-primary:hover:active {
	background-color: var(--primary);
	color: white;
	border: 2px solid var(--primary);
}

.btn-secondary {
	background-color: var(--secondary);
	color: white;
	font-weight: var(--fwbold);
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: 2px solid var(--secondary);
	outline: 0;
	transition: all 0.3s ease-in-out;
}

.btn-secondary:hover,
.btn-secondary:hover:active {
	background-color: transparent;
	color: var(--secondary);
	border: 2px solid var(--secondary);
}

.btn-outline-secondary {
	background-color: transparent;
	color: var(--secondary);
	font-weight: var(--fwbold);
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: 2px solid var(--secondary);
	outline: 0;
	transition: all 0.3s ease-in-out;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:hover:active {
	background-color: var(--secondary);
	color: white;
	border: 2px solid var(--secondary);
}

.btn-play {
	background-color: var(--secondary);
	color: white;
	font-weight: var(--fwbold);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid var(--secondary);
	outline: 0;
	transition: all 0.3s ease-in-out;
}

.btn-play:hover,
.btn-play:hover:active {
	background-color: transparent;
	color: var(--secondary);
	border: 2px solid var(--secondary);
}

.btn-play i {
	font-size: 35px;
}

/* Hero Styles */
.hero-section {
	background-color: var(--primary);
	height: 750px;
}

.hero-section .container #hero .container-fluid {
	background-image: url(../images/hero-image.png);
	background-repeat: no-repeat;
	background-color: white;
	background-size: cover;
	background-position: center;
	color: var(--primary);
	border-radius: 20px;
	height: 100%;
}

.hero-section #hero,
.hero-section #hero .row {
	max-height: 530px;
	height: 100%;
}

.hero-section .row .container {
	border-radius: 20px;
}

.tour-package h4 {
	color: var(--primary);
}

.tour-package i {
	font-size: 20px;
	color: var(--primary);
}

.tour-package p {
	color: var(--grey);
}

.design-a-tour p {
	color: white;
}

/* Watch Section Styles */
.watch-section h2 {
	color: var(--primary);
}

.watch-section .row {
	width: calc(50% + 50vw - 0.5rem);
}

.watch-section .owl-carousel,
.watch-section .owl-carousel .owl-stage-outer {
	padding-right: 0;
	margin-right: 0;
}

.watch-section .owl-carousel .card {
	width: 280px;
	height: 400px;
	border-radius: 20px;
	border: 0;
	background-color: var(--primary);
}

/* What Will You Do Section Styles */
.wwyd-section h2 {
	color: var(--primary);
}

.wwyd-section h3 {
	color: var(--primary);
}

.wwyd-section p {
	color: var(--grey);
}

.wwyd-section .card {
	background-color: var(--secondary);
	height: 160px;
	border-radius: 20px;
}

.wwyd-section .bg-icon {
	border-radius: 50%;
	flex-shrink: 0;
	height: 50px;
	width: 50px;
	background-color: white;
}

.wwyd-section i {
	font-size: 30px;
	color: var(--primary);
}

/* What is Included Section Styles */
.wii-section h2 {
	color: var(--primary);
}

.wii-section h3 {
	color: var(--primary);
}

.wii-section .card {
	border: 3px solid var(--primary);
	height: 160px;
	border-radius: 20px;
}

.wii-section .bg-icon {
	border-radius: 50%;
	flex-shrink: 0;
	height: 50px;
	width: 50px;
	background-color: var(--secondary);
}

.wii-section i {
	font-size: 30px;
	color: var(--primary);
}

/* How to Make a Booking? Section Styles */
.booking-section {
	background-color: var(--primary);
}

.booking-section h2 {
	color: var(--secondary);
}

.booking-section p {
	color: white;
}

.booking-section .card,
.booking-section .card-header {
	background-color: transparent;
	border: 3px solid var(--secondary);
	border-radius: 20px;
	height: 200px;
}

.booking-section .bg-icon {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	flex-shrink: 0;
	background-color: white;
	padding: 0;
	margin: 0;
}

.booking-section h4 {
	color: var(--secondary);
}

/* Call to Action Section Styles */
.cta-section {
	background-color: var(--primary);
}

.cta-section .container {
	background-color: var(--secondary);
	border-radius: 20px;
	box-shadow: 0 0 8px 1px var(--secondary);
	padding-block: 80px;
}

.cta-section h1 {
	color: var(--primary);
	font-size: 50px;
}

.cta-section p {
	padding-inline: 270px;
	color: white;
}

/* Benefits You Will Get Section Styles */
.benefits-section {
	background-color: var(--primary);
}

.benefits-section h2 {
	color: var(--secondary);
}

.benefits-section h4 {
	color: var(--primary);
}

.benefits-section p {
	color: white;
}

.benefits-section .card,
.benefits-section .card-header {
	border-radius: 20px;
}

.benefits-section .bg-icon {
	background-color: var(--secondary);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	flex-shrink: 0;
}

.benefits-section i {
	font-size: 32px;
	color: var(--primary);
}

.benefits-section .card p {
	color: var(--grey);
}

/* Meet Our Teams Section Styles */
.teams-section {
	background-color: white;
}

.teams-section h2 {
	color: var(--primary);
}

.teams-section .card {
	border-radius: 20px;
	height: 560px;
	width: 305px;
	background-color: var(--primary);
}

.teams-section .card-header {
	background-image: url("../images/kucing\ 1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px 20px 0 0;
}

.teams-section .card :where(h3,p) {
	color: white;
}

.teams-section .row {
	width: calc(50% + 50vw - 0.5rem);
}

.teams-section .owl-carousel,
.teams-section .owl-carousel .owl-outer-stage {
	padding-right: 0;
	margin-right: 0;
}

.teams-section .rating-star {
	color: var(--secondary);
}

.teams-section .wrapper-langguage {
	color: white;
}

.teams-section .wrapper-langguage i {
	font-size: 22px;
}


/* Review Section Styles */
.review-section h2 {
	color: var(--primary);
}

.review-section p {
	color: var(--grey);
}

.review-section .row{
	background-color: var(--primary);
	border-radius: 20px;
}

.review-section .row .col-8 {
	height: 500px;
	overflow-y: auto;
	scrollbar-width: none;
}

.review-section .review-rating, .review-section .review-content {
	border-radius: 20px;
	background-color: white;
}

.review-section .review-content {
	height: 150px;
	margin-bottom: 24px;
}

.review-section .review-rating {
	height: 400px;
}

/* Contact & FAQ Section Styles */
.contact-faq-section {
	background-color: var(--primary);
}

.contact-faq-section h2 {
	color: var(--secondary);
}

.contact-faq-section p {
	color: white;
}

.contact-faq-section textarea {
	resize: none;
	height: 150px;
	scrollbar-width: none;
}

.contact-faq-section .accordion-button {
	border-radius: 20px !important;
	box-shadow: none;
	height: 50px;
	color: var(--primary);
}

.contact-faq-section .accordion-item {
	background-color: transparent;
	color: white;
	border: 0;
}

.contact-faq-section iframe {
	border-radius: 30px;
}

/* Footer Styles */
footer {
	background-color: var(--secondary);
	height: 70px;
}

footer.blue {
	background-color: var(--primary);
}

footer .social-media {
	background-color: var(--primary);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	flex-shrink: 0;
	text-decoration: none;
}

footer.blue .social-media {
	background-color: var(--secondary);
}

footer i {
	color: var(--secondary);
	font-size: 20px;
}

footer.blue i {
	color: var(--primary);
}

footer :where(p, a) {
	color: var(--primary);
}

footer.blue :where(p, a) {
	color: var(--secondary);
}





/* Header Boat Start*/
.header-boat {
	background-color: white;
}

.header-boat h2 {
	color: var(--primary);
}


/*Boat Catalog Section Styles*/
.boat-catalog-section h5 {
	color: var(--primary);
	font-weight: var(--fwbold);
}

.price-idr{
	font-family: "Roboto", sans-serif;
	font-weight: var(--fwbold);
	font-size: 20px;
	color: var(--secondary);
}
.card-header {
    position: relative;
	z-index: 0;
}

.card-header img {
	min-width: 100%;
	min-height: 100%;
}

.badge {
	font-family: "Roboto", sans-serif;
	font-weight: var(--fwbold);
    padding: 7px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.bottom-badges .badge {
	color: var(--primary);
	background-color: white;
}

.top-badges .badge {
	color: white;
	background-color: var(--secondary);
}

.top-badges {
	position: absolute;
    top: 8px;
    right: 8px;
	z-index: 1;
}

.bottom-badges {
	position: absolute;
    bottom: 8px;
    right: 8px;
	z-index: 1;
}

/* Responsive Configuration Start*/
.container {
	max-width: 1536px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	height: 100%;
}

/* 2xl */
@media (max-width: 1536px) {
	.container {
		max-width: 1280px;
	}
}

/* xl */
@media (max-width: 1280px) {
	.container {
		max-width: 1024px;
	}
}

/* lg */
@media (max-width: 1024px) {
	.container {
		max-width: 768px;
	}
	#offcanvas-navbar {
		display: block;
		color: white;
		border: none;
	}
	#offcanvas-navbar:hover {
		color: var(--secondary);
		outline: none;
	}
}

/* md */
@media (max-width: 768px) {
	.container {
		max-width: 640px;
	}
}

/* sm */
@media (max-width: 640px) {
	.container {
		max-width: 475px;
	}
}

/* xs */
@media (max-width: 475px) {
	.container {
		width: 100%;
	}
}

/* Navbar Hidden */
@media (min-width: 992px) {
	.navbar-expand-lg.hidden {
		top: -100px;
		opacity: 0;
		visibility: hidden;
	}
	.navbar2 {
		display: block;
		margin-top: -71px;
		background-color: var(--primary);
		color: white;
	}
}

@media (max-width: 992px) {
	ul.navbar-nav,
	.navbar-nav {
		display: none !important;
	}
	.hero-section {
		height: 100svh;
	}
}
/* Responsive Configuration End*/
