:root {
	--primary: #224870;
	--secondary: #ffa500;
	--grey: #dfe2e7;
	--fwextrabold: 800;
	--fwbold: 700;
	--fwsemibold: 600;
	--fwmedium: 500;
	--fwregular: 400;
	--fwlight: 300;
}

@font-face {
	font-family: "Raleway", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
}

@font-face {
	font-family: "Roboto", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
}

body {
	font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: var(--fwextrabold);
	font-family: "Raleway", sans-serif;
}

/* Navbar Styles */
#offcanvas-navbar, .navbar2 {
	display: none;
}

.navbar-expand-lg {
	transition: all 0.5s;
	background-color: var(--primary);
	opacity: 1;
	visibility: visible;
	z-index: 99999;
}

.navbar .navbar-brand {
	color: white;
	font-size: 26px;
	font-weight: var(--fwbold);
	padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
	color: white;
	padding-left: 25px;
	padding-right: 25px;
	transition: all 0.3s ease-in-out;
	font-weight: var(--fwmedium);
}

.navbar-expand-lg .navbar-nav a:hover {
	color: var(--secondary);
}

/* Button Styles */
.btn-primary {
	background-color: var(--primary);
	color: white;
	font-weight: var(--fwmedium);
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid var(--primary);
	transition: all 0.3s ease-in-out;
}

.btn-primary:hover, .btn-primary:hover:active {
	background-color: transparent;
	color: var(--primary);
	border: 1px solid var(--primary);
}

.btn-secondary {
	background-color: var(--secondary);
	color: white;
	font-weight: var(--fwmedium);
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid var(--secondary);
	transition: all 0.3s ease-in-out;
}

.btn-secondary:hover, .btn-secondary:hover:active{
	background-color: transparent;
	color: var(--secondary);
	border: 1px solid var(--secondary);
}

/* Hero Styles */
.hero-section {
	background-color: var(--primary);
	height: 100svh;
}

.hero-section .container #hero .container-fluid{	
	height: 100%;
	background-image: url(../images/hero-image.png);
	background-repeat: no-repeat;
	background-color: white;
	background-size: cover;
	background-position: center;
	color: var(--primary);
	border-radius: 20px;
}

.hero-section #hero, .hero-section #hero .row{
	max-height: 535px;
	height: 100%;
}

.hero-section .row .container {
	border-radius: 20px;
}



/* Responsive Configuration Start*/
.container {
	max-width: 1536px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	height: 100%;
}

/* 2xl */
@media (max-width: 1536px) {
	.container {
		max-width: 1280px;
	}
}

/* xl */
@media (max-width: 1280px) {
	.container {
		max-width: 1024px;
	}
}

/* lg */
@media (max-width: 1024px) {
	.container {
		max-width: 768px;
	}
	.navbar-nav {
		display: none;
	}
	#offcanvas-navbar {
		display: block;
		color: white;
		border: none;
	}
	#offcanvas-navbar:hover {
		color: var(--secondary);
		outline: none;
	}
}

/* md */
@media (max-width: 768px) {
	.container {
		max-width: 640px;
	}
}

/* sm */
@media (max-width: 640px) {
	.container {
		max-width: 475px;
	}
}

/* xs */
@media (max-width: 475px) {
	.container {
		width: 100%;
	}
}

/* Navbar Hidden */
@media(min-width: 992px) {
	.navbar-expand-lg.hidden {
		top: -100px;
		opacity: 0;
		visibility: hidden;
	}
	.navbar2 {
		display: block;
		margin-top: -71px;
		background-color: var(--primary);
		color: white;
	}
}
/* Responsive Configuration End*/