:root {
	--primary: #224870;
	--secondary: #fda43e;
	--grey: #6d6d6d;
	--lightgrey: #d9d9d9;
	--lightgrey2: #f0f0f0;
	--fwblack: 900;
	--fwextrabold: 800;
	--fwbold: 700;
	--fwsemibold: 600;
	--fwmedium: 500;
	--fwregular: 400;
	--fwlight: 300;
	--sidebarsize: 250px;
}

@font-face {
	font-family: "Raleway", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
}

@font-face {
	font-family: "Roboto", sans-serif;
	src: url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
}

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: "Roboto", sans-serif;
}

body.dashboard {
	background-image: url("../images/bgdashboard.svg");
	background-repeat: repeat-y;
	background-size: cover;
	background-position: center;
}

.input-group-text.right {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.input-group span {
	padding-inline: 16px;
}

h1 {
	font-size: 64px;
	font-weight: var(--fwblack);
	font-family: "Raleway", sans-serif;
}

h2 {
	font-size: 40px;
	font-weight: var(--fwblack);
	font-family: "Raleway", sans-serif;
}

h3 {
	font-size: 32px;
	font-weight: var(--fwbold);
	font-family: "Raleway", sans-serif;
}

h4 {
	font-size: 24px;
	font-weight: var(--fwbold);
	font-family: "Raleway", sans-serif;
}

input,
textarea,
.form-control,
.form-select{
	font-family: "Roboto", sans-serif, FontAwesome;
	border-radius: 20px;
	border: 0;
	outline: 0;
	min-height: 40px;
	padding-block: 12px;
	padding-inline: 20px !important;
	font-size: 16px;
}

.modal-body :where(input, textarea, .form-control, .form-select) {
	border: 1px solid var(--lightgrey) !important;
	width: 100%;
	box-shadow: none !important;
}

:where(.modal-header, .modal-header .btn-close) {
	background-color: var(--primary);
	color: var(--secondary);
}

.toast-success {
	background-color: var(--primary);
	color: var(--secondary);
	border: 3px solid white;
}

.toast-error {
	background-color: var(--secondary);
	color: var(--white);
	border: 3px solid var(--white);
}

input[type="date"] {
	color: var(--secondary);
	text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	background: transparent;
	color: transparent;
	position: absolute;
	cursor: pointer;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	height: auto;
	width: auto;
}

.datepicker-dropdown {
	background-color: var(--primary);
	color: white;
	border-radius: 10px;
	border: 2px solid var(--secondary);
}

.datepicker-dropdown.datepicker-orient-bottom {
	margin-top: 5px !important;
}

.datepicker-dropdown.datepicker-orient-top:before, .datepicker-dropdown.datepicker-orient-bottom:before, .datepicker-dropdown.datepicker-orient-top::after, .datepicker-dropdown.datepicker-orient-bottom::after {
	display: none;
}

.datepicker-dropdown td {
	padding: 7px 10px;
	border-radius: 50%;
}

.datepicker-dropdown .datepicker-days table tbody td.disabled {
	background-color: transparent !important;
}

.datepicker-dropdown .datepicker-days table tbody :where(td.today.disabled, td.today.disabled:hover) {
	background-image: none !important;
	color: var(--secondary) !important;
}


.datepicker-dropdown .datepicker-days table tbody :where(td.day:hover, td.active.day,) {
	background-color: var(--secondary) !important;
	background-image: none !important;
}

.datepicker-dropdown table thead :where(.prev, .next, .datepicker-switch):hover {
	background-color: var(--secondary) !important;
	border-radius: 20px;
}

.datepicker-dropdown :where(.datepicker-months, .datepicker-years) span {
	padding: 6px 6px !important;
	height: 50px !important;
	width: 50px !important;
	line-height: unset !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

.datepicker-dropdown :where(.datepicker-months, .datepicker-years) :where(span:hover, span.focused, span.focused.active) {
	background-color: var(--secondary) !important;
	border-radius: 50% !important;
	background-image: none !important;
}

.btn-light,
.btn-light:hover,
.btn-light.dropdown-toggle:focus {
	background-color: white !important;
	padding: 12px 15px !important;
	border-radius: 20px !important;
	border: 1px solid var(--lightgrey) !important;
	outline: none !important;
	box-shadow: none !important;
}

.del-checkbox {
	position: absolute;
	top: -10px !important;
	right: 0 !important;
	width: 20px !important;
	height: 20px !important;
}

#displayFinalPrice {
	border: 1px solid var(--lightgrey);
	padding: 10px 15px;
	border-radius: 20px;
	font-size: 20px;
	color: var(--secondary);
}

input[type="checkbox"i].del-checkbox-tour {
	top: 15px;
	position: relative;
	width: 20px !important;
	height: 20px !important;
}

.price {
	font-family: "Roboto", sans-serif;
	font-weight: var(--fwbold);
	font-size: 20px;
	color: var(--primary);
}

.design-a-tour {
	background-color: var(--secondary);
}

p {
	font-size: 16px;
	color: var(--grey);
}

.minimize {
	--sidebarsize: 100px !important;
	transition: all 0.3s ease;
}

.minimize .min {
	display: none !important;
}

:where(.dashboard-admin, .login, .navbar2.login) .max {
	display: none !important;
}

.login .notification .notif-circle {
	background-color: var(--secondary);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -5px;
}

.login .notification .notif-circle i {
	margin-top: 1px;
	font-size: 12px;
	font-weight: var(--fwblack);
	color: var(--primary) !important;
}

.notification :where(.notif-circle, .notif-icon) {
	display: block !important;
}

.notif-circle,
i.notif-icon {
	display: none;
}

.btn-icon {
	display: none !important;
}

:where(.login, .navbar2.login) .btn-icon {
	display: contents !important;
}

.minimize .max {
	display: block !important;
}

.minimize .textmin {
	font-size: 0 !important;
	opacity: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}

.minimize .small-logo {
	width: 60px !important;
	height: 60px !important;
}

/* Navbar Styles */
#offcanvas-navbar,
.navbar2 {
	display: none;
}

.navbar-expand-lg {
	transition: all 0.5s;
	background-color: var(--primary);
	opacity: 1;
	visibility: visible;
	z-index: 999;
}

.navbar .navbar-brand {
	color: white;
	font-size: 26px;
	font-weight: var(--fwbold);
	padding: 0;
}

.nav-link {
	color: white;
	padding-left: 25px;
	padding-right: 25px;
	transition: all 0.3s ease-in-out;
	font-weight: var(--fwmedium);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--secondary);
}

.profile-image {
	border-radius: 50%;
	width: 45px;
	height: 45px;
	border: 2.5px solid white;
}

/* Dashboard Navbar Styles */
.dashboard-navbar {
	width: 100%;
	height: 90px;
	z-index: 1;
	position: fixed;
	padding-left: var(--sidebarsize);
	padding-right: 24px;
	background-color: white;
	transition: all 0.3s ease;
}

.dashboard-navbar h2 {
	color: var(--primary);
}

.dashboard-navbar span {
	color: var(--secondary);
}

.btn-icon a {
	text-decoration: none;
}

.profile-user {
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

:where(.profile-user, .tickets) i {
	font-size: 35px;
	color: white;
	transition: all 0.3s ease-in-out;
}

:where(.profile-user, .tickets):hover i {
	color: var(--secondary) !important;
}

.profile {
	border-radius: 50%;
	background-color: var(--secondary);
	width: 55px;
	height: 55px;
}

.dashboard-navbar .dropdown-menu {
	animation: rotateX 300ms ease-in-out forwards;
	margin-top: 80px !important;
	margin-right: 30px !important;
	border: 0;
	border-radius: 10px;
}

.dashboard-navbar .dropdown-item {
	background-color: white;
	color: red;
	transition: all 0.3s ease;
}

.dashboard-navbar li:first-child .dropdown-item {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.dashboard-navbar .dropdown-item:hover {
	background-color: red;
	color: white;
}

.profile i {
	color: var(--primary);
	font-size: 32px;
}

/* Dashboard Sidebar Styles */
.dashboard-sidebar {
	position: fixed;
	width: var(--sidebarsize);
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--primary);
	z-index: 99;
	transition: all 0.3s ease;
}

.dashboard-sidebar.minimize {
	left: -220px;
}

.sidebar-logo img {
	width: 122px;
	height: 122px;
	transition: all 0.3s ease;
}

.sidebar-logo h4 {
	color: white;
	font-weight: var(--fwextrabold);
	opacity: 1;
	transition: all 0.3s ease;
}

.sidebar-nav {
	list-style-type: none;
	padding-left: 50px;
	transition: all 0.3s ease;
}

.minimize .sidebar-nav {
	padding-left: 32px;
}

.sidebar-item a {
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	display: flex;
	align-items: center;
	transition: all 0.3s ease;
}

.sidebar-item a:hover {
	color: var(--secondary);
}

.sidebar-item.active a {
	color: var(--secondary);
	font-weight: var(--fwbold);
}

.sidebar-item i {
	font-size: 30px;
}

.icon {
	width: 32px;
}

.btn-sidebar {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: var(--secondary);
	outline: 0;
	border: 0;
	color: var(--primary);
	font-size: 25px;
}

/* Content Section Styles */
.content-section {
	margin-left: var(--sidebarsize);
	padding-top: 90px;
	transition: all 0.3s ease;
}

.content-section .table-content {
	background-color: white;
	padding: 24px;
	border-radius: 20px;
}

.table-content :where(.table) {
	border: 1px solid var(--lightgrey);
	border-radius: 10px;
}

.content-section th:hover {
	outline: 0 !important;
	background-color: var(--primary) !important;
	color: white;
	transition: all 0.5s ease;
}

.content-section thead th:first-child {
	border-top-left-radius: 10px !important;
}

.content-section thead th:last-child {
	border-top-right-radius: 10px;
}

.content-section tfoot th:first-child {
	border-bottom-left-radius: 10px !important;
}

.content-section tfoot th:last-child {
	border-bottom-right-radius: 10px;
}

.table-content :where(thead, tbody, th, tr, td) {
	border: 0;
	outline: 0;
}

.content-section .dt-search input {
	border-radius: 20px;
	padding: 10px 10px;
	width: 230px !important;
	box-shadow: none !important;
	border: 1px solid var(--lightgrey) !important;
}

.dt-paging .dt-paging-button a {
	background-color: var(--primary);
	border: 0;
	color: white;
	box-shadow: none !important;
}

.dt-paging :where(.dt-paging-button.active a, .dt-paging-button a:hover) {
	background-color: var(--secondary) !important;
	box-shadow: none !important;
}

.dt-paging .dt-paging-button:first-child a {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.dt-paging .dt-paging-button:last-child a {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.dt-buttons button {
	background-color: var(--primary);
	border: 2px solid var(--primary);
}

.dt-buttons button:hover {
	background-color: transparent !important;
	border: 2px solid var(--primary) !important;
	color: var(--primary) !important;
}

#datatable :where(thead, tfoot) tr th,
.fixedHeader-floating thead tr th {
	background-color: var(--primary) !important;
	color: white !important;
}



/* Button Styles */
.btn-primary,
.btn-primary:focus-visible {
	background-color: var(--primary);
	color: white;
	font-weight: var(--fwbold);
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: 2px solid var(--primary);
	outline: 0;
	transition: all 0.3s ease-in-out;
	box-shadow: none;
}

.btn-primary:hover,
.btn-primary:hover:active {
	background-color: transparent;
	color: var(--primary);
	border: 2px solid var(--primary);
}

.btn-outline-primary,
.btn-outline-primary:focus-visible {
	background-color: transparent;
	color: var(--primary);
	font-weight: var(--fwbold);
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: 2px solid var(--primary);
	outline: 0;
	transition: all 0.3s ease-in-out;
	box-shadow: none;
}

.btn-outline-primary:hover,
.btn-outline-primary:hover:active {
	background-color: var(--primary);
	color: white;
	border: 2px solid var(--primary);
}

.btn-secondary,
.btn-secondary:focus-visible {
	background-color: var(--secondary);
	color: white;
	font-weight: var(--fwbold);
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: 2px solid var(--secondary);
	outline: 0;
	transition: all 0.3s ease-in-out;
	box-shadow: none;
}

.btn-secondary:hover,
.btn-secondary:hover:active {
	background-color: transparent;
	color: var(--secondary);
	border: 2px solid var(--secondary);
}

.btn-outline-secondary,
.btn-outline-secondary:focus-visible {
	background-color: transparent;
	color: var(--secondary);
	font-weight: var(--fwbold);
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border: 2px solid var(--secondary);
	outline: 0;
	transition: all 0.3s ease-in-out;
	box-shadow: none;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:hover:active {
	background-color: var(--secondary);
	color: white;
	border: 2px solid var(--secondary);
}

.btn-play {
	background-color: var(--secondary);
	color: white;
	font-weight: var(--fwbold);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid var(--secondary);
	outline: 0;
	transition: all 0.3s ease-in-out;
}

.btn-play:hover,
.btn-play:hover:active {
	background-color: transparent;
	color: var(--secondary);
	border: 2px solid var(--secondary);
}

.btn-play i {
	font-size: 35px;
}

/* Hero Styles */
.hero-section {
	background-color: var(--primary);
	height: 750px;
}

.hero-section .container #hero .container-fluid {
	background-image: url(../images/hero-image.png);
	background-repeat: no-repeat;
	background-color: white;
	background-size: cover;
	background-position: center;
	color: var(--primary);
	border-radius: 20px;
	height: 100%;
}

.hero-section #hero,
.hero-section #hero .row {
	max-height: 530px;
	height: 100%;
}

.tour-package h4 {
	color: var(--primary);
}

.tour-package i {
	font-size: 20px;
	color: var(--primary);
}

.tour-package p {
	color: var(--grey);
}

.design-a-tour p {
	color: white;
}

#videoContainer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	z-index: 1000;
}

#fullscreenVideo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero-choices {
	border-radius: 20px;
}

/* Watch Section Styles */
.watch-section h2 {
	color: var(--primary);
}

.watch-section .row {
	width: calc(50% + 50vw - 0.5rem);
}

.watch-section .owl-carousel,
.watch-section .owl-carousel .owl-stage-outer {
	padding-right: 0;
	margin-right: 0;
}

.watch-section .owl-carousel .card {
	padding-top: 56.25%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	height: 480px;
	border-radius: 20px;
	border: 0;
	position: relative;
}

.watch-section .owl-carousel .card :where(a, img) {
	position: absolute;
	justify-self: center;
	top: -5px;
	width: 105%;
	height: 105%;
	object-fit: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.watch-section a .btn-play {
	width: 60px;
	height: 60px;
	position: absolute;
	display: flex;
	justify-content: center;
	opacity: 0;
	transition: all 0.5s ease;
}

.watch-section a:hover .btn-play {
	opacity: 1;
	background-color: var(--secondary);
	color: white !important;
}

.watch-section .btn-play i {
	font-size: 30px;
	margin-top: 12px;
	margin-left: 5px;
}

/* What Will You Do Section Styles */
.wwyd-section h2 {
	color: var(--primary);
}

.wwyd-section h3 {
	color: var(--primary);
}

.wwyd-section p {
	color: var(--grey);
}

.wwyd-section .card {
	background-color: var(--secondary);
	height: 160px;
	border-radius: 20px;
}

.wwyd-section .bg-icon {
	border-radius: 50%;
	flex-shrink: 0;
	height: 50px;
	width: 50px;
	background-color: white;
}

.wwyd-section i {
	font-size: 30px;
	color: var(--primary);
}

/* What is Included Section Styles */
.wii-section h2 {
	color: var(--primary);
}

.wii-section h3 {
	color: var(--primary);
}

.wii-section .card {
	border: 3px solid var(--primary);
	height: 160px;
	border-radius: 20px;
}

.wii-section .bg-icon {
	border-radius: 50%;
	flex-shrink: 0;
	height: 50px;
	width: 50px;
	background-color: var(--secondary);
}

.wii-section i {
	font-size: 30px;
	color: var(--primary);
}

/* dashboard */
.card-dashboard {
	background-color: white;
	color: var(--primary);
	font-weight: var(--fwbold);
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	outline: 0;
	transition: all 0.3s ease-in-out;
	box-shadow: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
}

.card-dashboard:hover,
.card-dashboard:hover:active {
	background-color: var(--primary);
	color: white;
}

.card-link {
	text-decoration: none;
}

.chart-select {
	background-color: white;
	color: var(--primary);
	font-weight: var(--fwbold);
	border-radius: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	outline: 0;
	transition: all 0.3s ease-in-out;
	box-shadow: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chart-select:hover,
.chart-select:hover:active {
	background-color: var(--primary);
	color: white;
}


/* How to Make a Booking? Section Styles */
.booking-section {
	background-color: var(--primary);
}

.booking-section h2 {
	color: var(--secondary);
}

.booking-section p {
	color: white;
}

.booking-section .card,
.booking-section .card-header {
	background-color: transparent;
	border: 3px solid var(--secondary);
	border-radius: 20px;
	height: 200px;
}

.booking-section .bg-icon {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	flex-shrink: 0;
	background-color: white;
	padding: 0;
	margin: 0;
}

.booking-section h4 {
	color: var(--secondary);
}

/* Call to Action Section Styles */
.cta-section {
	background-color: var(--primary);
}

.cta-section .container {
	background-color: var(--secondary);
	border-radius: 20px;
	box-shadow: 0 0 8px 1px var(--secondary);
	padding-block: 80px;
}

.cta-section h1 {
	color: var(--primary);
	font-size: 50px;
}

.cta-section p {
	max-width: 75%;
	color: white;
}

/* Benefits You Will Get Section Styles */
.benefits-section {
	background-color: var(--primary);
}

.benefits-section h2 {
	color: var(--secondary);
}

.benefits-section h4 {
	color: var(--primary);
}

.benefits-section p {
	color: white;
}

.benefits-section .card,
.benefits-section .card-header {
	border-radius: 20px;
}

.benefits-section .bg-icon {
	background-color: var(--secondary);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	flex-shrink: 0;
}

.benefits-section i {
	font-size: 32px;
	color: var(--primary);
}

.benefits-section .card p {
	color: var(--grey);
}

/* Meet Our Teams Section Styles */
.teams-section {
	background-color: white;
}

.teams-section h2 {
	color: var(--primary);
}

.teams-section .card {
	border-radius: 20px;
	height: 560px;
	width: 305px;
	background-color: var(--primary);
}

.teams-section .card-header img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 20px 20px 0 0;
	height: 285px;
}

.teams-section .card :where(h3, p) {
	color: white;
}

.teams-section .row {
	width: calc(50% + 50vw - 0.5rem);
}

.teams-section .owl-carousel,
.teams-section .owl-carousel .owl-outer-stage {
	padding-right: 0;
	margin-right: 0;
}

.teams-section .rating-star {
	color: var(--secondary);
}

.teams-section .wrapper-langguage {
	color: white;
}

.teams-section .wrapper-langguage i {
	font-size: 22px;
}

/* Review Section Styles */
.review-section h2 {
	color: var(--primary);
}

.review-section p {
	color: var(--grey);
}

.review-section .row {
	background-color: var(--primary);
	border-radius: 20px;
}

.review-section .row .col-8 {
	height: 500px;
	overflow-y: auto;
	scrollbar-width: none;
}

.review-section .review-rating,
.review-section .review-content {
	border-radius: 20px;
	background-color: white;
}

.review-section .review-content {
	height: 150px;
	margin-bottom: 24px;
}

.review-section .review-rating {
	height: 400px;
}

/* Contact & FAQ Section Styles */
.contact-faq-section {
	background-color: var(--primary);
}

.contact-faq-section h2 {
	color: var(--secondary);
}

.contact-faq-section p {
	color: white;
}

.contact-faq-section textarea {
	resize: none;
	height: 150px;
	scrollbar-width: none;
}

:where(.contact-faq-section, .information-section, .about-section) .accordion-button {
	border-radius: 20px !important;
	box-shadow: none !important;
	height: 50px;
	color: var(--primary) !important;
}

:where(.contact-faq-section, .information-section, .about-section) .accordion-item {
	background-color: transparent;
	color: white;
	border: 0;
}

.contact-faq-section iframe {
	border-radius: 30px;
}

/* Footer Styles */
footer {
	background-color: var(--secondary);
	height: 70px;
}

footer.blue {
	background-color: var(--primary);
}

footer .social-media {
	background-color: var(--primary);
	width: 35px;
	height: 35px;
	border-radius: 50%;
	flex-shrink: 0;
	text-decoration: none;
}

footer.blue .social-media {
	background-color: var(--secondary);
}

footer i {
	color: var(--secondary);
	font-size: 20px;
}

footer.blue i {
	color: var(--primary);
}

footer :where(p, a) {
	color: var(--primary);
}

footer.blue :where(p, a) {
	color: var(--secondary);
}

/* Header Boat Start*/
.header-boat {
	background-color: white;
}

.header-boat h2 {
	color: var(--primary);
}

.header-boat .form-select {
	background-image: none;
	cursor: pointer;
}

.header-boat .form-control {
	border-radius: 0 !important;
	background-color: var(--primary);
	color: white;
	box-shadow: none !important;
	cursor: unset;
}

.header-boat .dropdown-toggle::after, .header-boat .dropdown-toggle::before {
	display: none;
}

.header-boat .dropdown-menu {
	padding: 0;
	z-index: 1;
	border-radius: 10px;
	background-color: var(--primary);
	color: white;
	border: 2px solid var(--secondary);
}

.header-boat .datepicker {
	cursor: pointer;
}

.header-boat .datepicker::placeholder {
	color: var(--primary) !important;
	transition: all 0.3s ease;
}

.header-boat .datepicker:hover::placeholder {
	color: white !important;
}

/*Boat Catalog Section Styles*/
.boat-catalog-section h5 {
	color: var(--primary);
	font-weight: var(--fwbold);
}

.boat-catalog-section .card {
	text-decoration: none;
}

.price-idr {
	font-family: "Roboto", sans-serif;
	font-weight: var(--fwbold);
	font-size: 20px;
	color: var(--secondary);
}

.action-button {
	min-height: 100%;
	display: flex;
}

.card-header {
	position: relative;
	z-index: 0;
}

.card-header .boat-image {
	position: relative;
	overflow: hidden;
	padding-bottom: 65%;
}

.card-header img {
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.badge {
	font-family: "Roboto", sans-serif;
	font-weight: var(--fwbold);
	padding: 5px 10px;
	border-radius: 20px;
	font-size: 12px;
}

.bottom-badges .badge {
	color: var(--primary);
	background-color: white;
}

.top-badges .badge {
	color: white;
	background-color: var(--secondary);
}

.top-badges {
	position: absolute;
	top: 8px;
	right: 8px;
	z-index: 1;
}

.bottom-badges {
	position: absolute;
	bottom: 8px;
	right: 8px;
	z-index: 1;
}

.boat-not-found h4{
	color: var(--primary);
	font-size: 28px;
	font-weight: var(--fwblack);
}

/* Step Section Styles */
.step-section h5 {
	color: var(--primary);
	font-weight: var(--fwbold);
}

.step-section i {
	font-size: 40px;
}

.step-section .circle {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 3px solid var(--primary);
	color: var(--primary);
}

.step-section .checked {
	background-color: var(--primary);
	color: var(--secondary);
}

/* Boat Overview Section Styles */
.booking-overview-section .header :where(h3, i) {
	color: var(--primary);
}

.booking-overview-section .header i {
	font-size: 32px;
}

.boat-overview-slider :where(.owl-stage-outer) {
	border-radius: 20px;
	position: relative;
}

.boat-badges-slider .owl-stage {
	width: 100% !important;
}

.boat-overview-slider .owl-dots {
	position: absolute;
	bottom: 20px;
	right: 0;
	left: 0;
}

.boat-overview-slider .item {
	overflow-anchor: hidden;
	padding-bottom: 55%;
}

.boat-overview-slider .item img {
	border-radius: 10px;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.orange-badges.badge {
	background-color: var(--secondary);
	color: white;
	border: 2px solid var(--secondary);
}

.white-badges.badge {
	color: var(--primary);
	border: 2px solid var(--primary);
}

.private-boat-only-badge {
	background-color: var(--secondary);
	color: white;
	align-self: center;
	padding: 2px 10px;
	border-radius: 20px;
	font-weight: var(--fwsemibold);
	font-size: 10px;
}

/* Choose Tour Section Styles */
.tour-section .subheader {
	color: var(--secondary);
	font-weight: var(--fwregular);
	font-family: "Raleway", sans-serif;
}

.anchor-point .card {
	background-color: var(--primary);
	border-radius: 20px;
	position: relative;
}

.anchor-point .card-image img {
	border-radius: 10px;
	min-width: 100%;
	min-height: 100%;
}

.anchor-point .card-image {
	border-radius: 20px !important;
	height: 116px;
	width: 200px;
	position: relative;
	z-index: 1;
}

.anchor-point .card-header {
	background-color: var(--primary);
}

.anchor-point .card-header h4 {
	color: var(--secondary);
	font-size: 24px;
}

.anchor-point p {
	color: white;
}

.anchor-point i {
	color: var(--secondary);
}

.anchor-point .description {
	font-size: 12px;
}

.anchor-point .maps {
	position: absolute;
	top: 0;
	right: 0;
}

.tour-packages:where(.accordion-item,
	.accordion-header,
	.accordion-body,
	.accordion-collapse) {
	border-radius: 20px !important;
}

.tour-packages .accordion-button {
	background-color: white;
	box-shadow: none;
	color: var(--primary);
	width: 100%;
	border-radius: 16px !important;
	position: relative;
}

.tour-packages .accordion-button::after {
	background-image: url(../images/accordion-icon.svg);
	position: absolute;
	top: 24px;
	right: 24px;
}

.tour-packages .accordion-button:not(.collapsed) {
	background-color: var(--primary);
	outline: 3px solid var(--primary);
	box-shadow: none;
	color: var(--secondary);
}

.tour-packages :where(.accordion-body, .accordion-item) {
	background-color: var(--secondary);
}

.tour-packages .accordion-item {
	border: 3px solid var(--primary);
}

.tour-packages .accordion-body h5 {
	font-size: 20px;
	color: var(--primary);
	font-weight: var(--fwbold);
}

.tour-packages .accordion-body p {
	font-size: 14px;
}

.package-badges .badge {
	background-color: white;
	color: var(--secondary);
	display: flex;
	align-items: center;
	padding: 5px 10px;
}

.package-badges .badge p {
	color: var(--secondary);
	font-size: 12px;
}

.package-badges .badge i {
	font-size: 16px;
}

.accordion-button.collapsed .package-badges .badge {
	background-color: var(--primary);
	color: var(--secondary);
}

/* Extra Sections Styles */
.extra-section .nav-item button {
	border-radius: 20px;
	color: var(--primary);
	border: 2px solid var(--primary);
	font-weight: var(--fwbold);
	box-shadow: none !important;
}

.extra-section .nav-item button.active {
	background-color: var(--primary);
	color: white;
}

.extra-section .extra-image img {
	border-radius: 10px;
	min-width: 100%;
	min-height: 100%;
}

.extra-section .extra-image {
	position: relative;
}

.extra-section .extra-desc h5 {
	color: var(--primary);
	font-weight: var(--fwbold);
}

.extra-section .card button {
	width: 50%;
	padding: 5px 10px;
}

.added {
	background-color: var(--primary) !important;
	color: white !important;
}

/* Details Order Section Styles */
.details-order {
	background-color: var(--lightgrey);
	border-radius: 20px;
	top: 100px;
	z-index: 1;
}

.max-people {
	border: 0;
	border-radius: 20px;
	background-color: transparent;
	color: var(--secondary);
}

.max-people span {
	border-radius: 50%;
	padding: 5px;
}

.max-people span:active {
	background-color: var(--lightgrey);
	border-radius: 50%;
	transition: all 0.3s ease;
}

:where(.adult, .teen, .toddler) .wrapper {
	background-color: white;
	border-radius: 20px;
	padding-block: 4px;
}

.order-items {
	background-color: white;
	border-radius: 20px;
}

.item-name,
.item-price,
.extra-name,
.extra-price {
	font-size: 14px;
	color: black;
}

.total-price p,
.total-price {
	color: var(--secondary);
}

.discount-price,
.discount-name {
	color: var(--primary);
	font-size: 14px;
}

.details-order :where(.adult-total, .teen-total, .toddler-total) {
	width: 20px;
}

/* Tickets Section Styles */
.current-tickets-section {
	background-color: var(--primary);
}

:where(.current-tickets-section, .tickets-history-section) h1.text-center {
	font-size: 48px;
	color: var(--secondary);
}

.qr-code-ticket {
	background-color: white;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	height: 100%;
	position: relative;
}

.qr-code-ticket img {
	max-width: 62.5%;
	min-width: 120px !important;
	height: auto;
}

.qr-code-ticket img.blur-qr {
	filter: blur(5px);
}

.booking-status {
	font-size: 10px;
}

.booking-status span {
	color: var(--secondary);
	font-size: 10px;
}

body.modal-open {
	padding-right: 0 !important;
}

.details-ticket {
	background-color: var(--secondary);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	height: 100%;
	position: relative;
}

.blue-circle {
	background-color: var(--primary);
	width: 55px;
	height: 55px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -27.5px;
	margin: auto;
}

.details-ticket .blue-circle {
	left: unset;
	right: -27.5px;
}

.details-ticket h1 {
	color: var(--primary);
	font-weight: var(--fwblack);
	font-size: 48px;
}

.details-ticket :where(.place, .time) i {
	font-size: 23px;
	color: var(--primary);
}

.details-ticket :where(.place a, .time p) {
	font-size: 18px;
	font-weight: var(--fwregular);
}

:where(.adult-box, .teen-box, .kid-box) {
	background-color: white;
	width: 150px;
	height: 100px;
	border-radius: 20px;
}

:where(.adult-box, .teen-box, .kid-box) p {
	color: var(--primary);
}

:where(.adult-total, .teen-total, .kid-total) h1 {
	font-size: 48px;
	font-family: "Roboto", sans-serif;
	color: var(--primary);
	margin-bottom: 0;
}

/* Tickets History Section Styles */
.tickets-history-section {
	background-color: var(--lightgrey2);
}

.tickets-history-section h1.text-center {
	color: var(--primary);
}

.tickets-history-section .blue-circle {
	background-color: var(--lightgrey2);
}

.modal-body img {
	width: 100%;
	height: 100%;
}

/* Contact Details Section Styles */
.contact-details {
	background-color: var(--primary);
	border-radius: 20px;
}

.contact-details .header {
	color: var(--secondary);
}

.contact-details .header i {
	font-size: 22px;
}

.contact-details .user-details textarea {
	height: 150px;
	scrollbar-width: none;
	resize: none;
}

/* Payment Details Section Styles */
.payment-details {
	background-color: var(--lightgrey);
	border-radius: 20px;
}

.payment-details .foto img {
	border-radius: 10px;
	min-width: 100%;
	min-height: 100%;
}

.information-details .item {
	border-radius: 10px;
}

.payment-details .inclusive-package i {
	color: var(--secondary);
}

#founded {
	color: var(--primary);
	font-size: 14px;
}

/* Information Section Styles */
.information-section .accordion-button {
	color: var(--primary);
	border: 2px solid var(--primary);
	background-color: white;
}

/* Chart */
.chart {
	max-width: 900px;
	height: 450px;
	padding: 50px;
	margin: 0 auto;
}

.chart .chart_types {
	text-align: center;
	margin-bottom: 30px;
}

.chart .chart_types button {
	padding: 10px 25px;
}

/* Profile section */

:where(.profile-details-section, .change-password-section, .reviews-section) :where(h1, h2) {
	color: var(--primary) !important;
}

aside ul li a {
	text-decoration: none;
	color: #333;
	display: block;
	padding: 10px 0;
}

.profile-info {
	display: flex;
	align-items: center;
	gap: 30px;
}

.profile-info img {
	border-radius: 50%;
}

.profile-info .details p {
	margin: 5px 0;
}

:where(.profile-details-section, .change-password-section) button.btn-primary {
	cursor: pointer;
}

#edit-profile-form {
	display: grid;
	grid-template-columns: none;
	gap: 10px;
	margin-top: 20px;
}

#edit-profile-form label {
	font-weight: bold;
}

#edit-profile-form input {
	border: 1px solid #ccc;
	border-radius: 20px;
}

#edit-profile-form button {
	margin-top: 5px;
	cursor: pointer;
}

.profile-password .details p {
	margin: 5px 0;
}

#edit-password-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}

#edit-password-form input {
	border: 1px solid;
	border-radius: 20px;
}


.reviews-section {
	margin-bottom: 20px;
}

.reviews-section ul {
	list-style-type: none;
	padding: 0;
}

.reviews-section ul li {
	background-color: #f9f9f9;
	padding: 10px;
	margin-top: 24px;
	margin-bottom: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Login Section Styles */
body.auth {
	display: flex;
	align-items: center;
	min-height: 100vh;
	background-image: url("../images/bgauth.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	backdrop-filter: blur(2px);
}

.login-logo {
	width: 100px;
	height: 100px;
}

.wrapper-auth {
	width: 550px;
	background-color: var(--primary);
	color: white;
	border-radius: 25px;
	padding: 30px 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.wrapper-auth.registers {
	width: 850px;
}

.wrapper-auth.admin {
	background-color: white;
}

.wrapper-auth h3 {
	font-size: 36px;
	text-align: center;
}

.wrapper-auth.admin h3 {
	color: var(--primary) !important;
}

.wrapper-auth .input-box {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 30px 0;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid #ffffff;
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
	padding: 20px 60px 20px 20px;
	transition: border-color 0.3s, box-shadow 0.3s;
}

.input-box input::placeholder {
	color: #ffffff;
	transition: color 0.3s;
}

.input-box input:focus {
	border-color: var(--secondary);
	box-shadow: 0 0 5px rgba(253, 164, 62, 0.283);
}

.admin .input-box input {
	border: 2px solid var(--primary);
	color: var(--primary);
}

.admin .input-box input::placeholder {
	color: var(--primary);
}

.admin .input-box input:focus {
	border-color: var(--primary);
	box-shadow: 0 0 5px rgba(62, 75, 253, 0.283);
}

.input-box input:focus::placeholder {
	color: var(--secondary);
}

.admin .input-box input:focus::placeholder {
	color: var(--primary);
}

.input-box i {
	position: absolute;
	right: 20px;
	top: 30%;
	transform: translate(-50%);
	font-size: 20px;
}

.admin .input-box i {
	color: var(--primary);
}

.remember-forgot label input {
	accent-color: white;
	margin-right: 3px;
}

.remember-forgot a {
	color: white !important;
}

.remember-forgot a:hover {
	color: var(--secondary) !important;
}

.sign-up,
.sign-in {
	font-size: 14px;
}

.sign-up a,
.sign-in a {
	color: white;
	transition: all 0.3s ease;
}

:where(.sign-up, .sign-in) a:hover {
	color: var(--secondary);
}

.admin :where(.sign-up, .sign-in) a:hover {
	color: var(--primary);
}

/* Contact Section Styles */
.contact-section {
	background-color: var(--primary);
}

.contact-section h2 {
	color: var(--secondary);
}

.contact-section h1 {
	color: var(--secondary);
}

.contact-section p {
	color: white;
}

.contact-section textarea {
	resize: none;
	height: 150px;
	scrollbar-width: none;
}

.contact-section .accordion-button {
	border-radius: 20px !important;
	box-shadow: none;
	height: 50px;
	color: var(--primary);
}

.contact-section .accordion-item {
	background-color: transparent;
	color: white;
	border: 0;
}

.contact-section iframe {
	border-radius: 20px;

}

.social-media-box {
    display: flex;
    margin-bottom: 20px;
}

.social-icon {
    width: 60px;
    height: 60px;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  var(--primary);
    font-size: 25px;
    text-decoration: none;
}

.find-us-container {
    padding-top: 55px; 
}

.find-us-paragraph {
    margin-bottom: 10px;
}


/* Gallery Section Styles */
.gallery-section h2 {
	color: var(--primary);
}

.gallery-section .col-6 {
    position: relative;
    
}

.gallery-section .fancybox {
    display: block;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    height: 100%;
}

.gallery-section .fancybox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery-section .fancybox:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.gallery-section .fancybox:hover img {
    transform: scale(1.05);
}

.big {
    height: 417px !important;
}

.small {
    height: 200px !important; /* Adjust as needed */
}


/* About Section Styles */
.about-details {
	background-color: var(--primary);
	border-radius: 20px;
}

:where(.about-details, .about-hero) h5{
	color: var(--secondary);
}

.about-story h5, .about-vision h2 {
	color: var(--primary);
}

.about-details h3 {
	text-align: justify;
}

.accordion-button {
	background-color: white !important;
	border: 1px solid var(--primary);
}



/* Responsive Configuration Start*/
.container {
	max-width: 1536px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	height: 100%;
}

/* 2xl */
@media (max-width: 1536px) {
	.container {
		max-width: 1280px;
	}
}

/* xl */
@media (max-width: 1280px) {
	.container {
		max-width: 1080px;
		padding-inline: 0;
	}
}

/* lg */
@media (max-width: 1080px) {
	.container {
		max-width: 768px;
	}

	#offcanvas-navbar {
		display: block;
		color: white;
		border: none;
	}

	#offcanvas-navbar:hover {
		color: var(--secondary);
		outline: none;
	}
}

/* md */
@media (max-width: 768px) {
	.container {
		max-width: 640px;
	}
}

/* sm */
@media (max-width: 640px) {
	.container {
		max-width: 475px;
	}
}

/* xs */
@media (max-width: 475px) {
	.container {
		width: 100%;
	}
}

/* Navbar Hidden */
@media (min-width: 992px) {
	.navbar-expand-lg.hidden {
		top: -100px;
		opacity: 0;
		visibility: hidden;
	}

	.navbar2 {
		display: block;
		margin-top: -71px;
		background-color: var(--primary);
		color: white;
	}
}

@media (max-width: 992px) {

	ul.navbar-nav,
	.navbar-nav {
		display: none !important;
	}

	.hero-section {
		height: 100vh;
	}
}

/* Responsive Configuration End*/

/* Animation */
@keyframes growDown {
	0% {
		transform: scaleY(0);
	}

	80% {
		transform: scaleY(1.1);
	}

	100% {
		transform: scaleY(1);
	}
}

@keyframes growOut {
	0% {
		transform: scale(0);
	}

	80% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes rotateX {
	0% {
		opacity: 0;
		transform: rotateX(-90deg);
	}

	50% {
		transform: rotateX(-20deg);
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
	}
}